@import "../../sass/gridle/gridle";// Import gridle


// setup the grid (required)
@include gridle_setup((
	context : 12,
	gutter-width : 20px,
	// gutter-left : 20px,
	// direction : rtl,
	// dir-attribute : true,
	states-classes : false,
	// classes-prefix : 'gr-'
));

// register special columns
// @include gridle_register_column("1on5", 1, 5);
@include gridle_register_clear_each( 3 , both );


// clear each classes
@include gridle_register_clear_each(2, left);
@include gridle_register_clear_each(3, left);
@include gridle_register_clear_each(12, both);


@include gridle_register_default_states();

@include gridle_register_state( moblet , (
    min-width : 767px,
    classes : false
) );

@include gridle_register_state( testtt , (
    min-width : 767px,
) );



// Init Gridle
@include gridle_generate_classes ();



@include gridle_generate_custom_class(('position', '-', '%type', '@', '%state'), all, (relative static absolute fixed)){
    position : map-get($gridle-scope, type);
}

.test{
    background : red;
    height : 100px;
}
